body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
}
a:hover{
    cursor: pointer;
}

.container{
    margin: 20px 50px;
}

.input-container{
   
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:30px;
    padding: 20px;

}

.degree{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-container input{
    border: 1px solid;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    width: auto;
}

.icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap:10px
}
.table{
    border: 1px solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:100%;
    border-spacing: 0;
    min-height: 200px;
    overflow-x: auto;
}

th,td{
    text-align: center;
}
th{
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 10px;
}
td{
    padding: 10px;
    border-right: 1px solid;
}
tbody{
    height: auto;
}

.search{
    width:100%;
    border: 1px solid;
    border-radius: 15px;
    height: 40px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    width:100%;
    padding-left: 10px;
}


.button {
    height: 40px;
    width: auto;
    margin: 20px;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #224bcf;
    background-color: #224bcf;
    font-size: medium;
    color: white;
    cursor: pointer;
}


.login-btn {
    height: auto;
    width: auto;
    font-size: x-large;
    color: #224bcf;
    background: transparent;
    cursor: pointer;
}
