* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.teacher-box {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher-box h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.teacher-box p {
    font-size: 1rem;
    margin: 5px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #1e01d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e01d6;
}
